<ion-content padding>
  <ion-list>
      <form novalidate (ngSubmit)="doLogin()"[formGroup] = "loginForm">
      <ion-item>
        <!-- <ion-label floating>Email</ion-label> -->
        <ion-input #email placeholder="Email" type="email" formControlName="email" name='email'></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( loginForm.get('email').hasError('email') ||loginForm.get('email').hasError('required') ) && loginForm.get('email').touched">
        <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
          Email address invalid
        </div>
      </ion-item>
      <ion-item>
        <!-- <ion-label floating>Password</ion-label> -->
        <ion-input placeholder="password" type="password" formControlName="password" name='password'></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('maxlength') ||loginForm.get('password').hasError('required') ) && loginForm.get('password').touched">
        <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
          Minimum 8 characters
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>
      <ion-button type="submit" ion-button block color="primary" [disabled]="loginForm.invalid">LOGIN</ion-button>
    </form>
  </ion-list>
</ion-content>